body {
    background-color: #2D2578;
}

#game{
    margin: 0px auto;
    background-color: black;
}

.cor-inicial{
    background-color: #FFCC00;
}

.correto{
    background-color: #15d300;
    color: white;
}

.cor-temporaria{
    background-color: rgb(30, 6, 240);
    color: white;
}

@-webkit-keyframes corErradaTransicao {  
    0% { background-color: #ff0000; color: white;}
    50% {background-color: #ff0000; color: white;}
    100% { background-color: #FFCC00; color: black;}
}
  
.corErrada {
    background-color: #FFCC00;
    -webkit-animation-name: corErradaTransicao;  
    -webkit-animation-iteration-count: 1;  
    -webkit-animation-duration: 0.8s;
}

.elementosUI {
    position: absolute;
    color: white;
    border: 2px solid#FFCC00;
    right: 50px; 
}

#placar {
    padding: 5px 30px 5px 30px;
    top: 0;
    font-size: 300%;
    border-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#palavrasFaltando {
    padding: 5px 50px 5px 50px;
    bottom: 0;
    font-size: 1000%;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.placarTerminou {
    background-color: #ffffff;
    color: black;
    border-color: black;
}

#botaoVoltar {
    padding: 10px 12px;
    border: 2px solid #ffcc00;
    color: #ffcc00;
    font-weight: bold;
    background-color: transparent;
    border-radius: 4px;

    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;

    text-decoration: none;
    box-sizing: border-box;

    line-height: 20px;
    cursor: pointer;

    position: absolute;
    top: 20px;
    left: 40px;
}

.peca {
    display: inline-block;
    margin: 2px;
}